<h1 id="proyectos">PROYECTOS</h1>

<p class="nombreProyecto">CALCULADORA</p>
<p class="subTitulo">LENGUAJE:</p>
<p class="lenguaje" >HTML, CSS, JAVASCRIPT</p>
<p class="descripcion">Este proyecto consiste en la creación de una calculadora utilizando los lenguajes HTML, CSS y JavaScript. La calculadora permitirá realizar las operaciones matemáticas básicas (suma, resta, multiplicación y división) y contará con una interfaz de usuario simple e intuitiva. </p>
<p class="estadoFinalizado">ESTADO: FINALIZADO</p>

<p class="nombreProyecto">RENOVA STYLE</p>
<p class="subTitulo">LENGUAJE:</p>
<p class="lenguaje">HTML, CSS, JAVASCRIPT</p>
<p class="descripcion"> Aprender Programación de alto nivel: HTML, CSS, JavaScript, Boostrtrapt. - Planificación y estimación de desarrollo de la página web enfocado en el sector renovar todo de la vivienda. - Creación del login, footer, alertas en javaScript. - Mantenimiento y resolución de errores de la página web. </p>
<p class="estadoFinalizado">ESTADO: FINALIZADO</p>

<p class="nombreProyecto">HOJA DE VIDA</p>
<p class="subTitulo">LENGUAJE:</p>
<p class="lenguaje" >ANGULAR</p>
<p class="descripcion"> Aprender y aplicar los conocimientos de programación en los lenguaje aprendido: ANGULAR 1. Aplicar conceptos de programación. 2. Creacion del header, body 3. rutas para poder indagar por las paginas que se encuentran en el header.</p>
<p class="estadoProceso">ESTADO: EN PROCESO</p>