<h1 id="proyectos">PROYECTOS</h1>

<p class="nombreProyecto">CALCULADORA</p>
<p class="subTitulo">LENGUAJE:</p>
<p>HTML, CSS, JAVASCRIPT</p>
<p class="descripcion">Este proyecto consiste en la creación de una calculadora utilizando los lenguajes HTML, CSS y JavaScript. La calculadora permitirá realizar las operaciones matemáticas básicas (suma, resta, multiplicación y división) y contará con una interfaz de usuario simple e intuitiva. </p>
<p class="finalizado">FINALIZADO</p>

<p> Renova style</p>
<p class="subTitulo">LENGUAJE:</p>
<p>HTML, CSS, JAVASCRIPT</p>
<p> Aprender Programación de alto nivel: HTML, CSS, JavaScript, Boostrtrapt. - Planificación y estimación de desarrollo de la página web enfocado en el sector renovar todo de la vivienda. - Creación del login, footer, alertas en javaScript. - Mantenimiento y resolución de errores de la página web. </p>
<p class="finalizado">FINALIZADO</p>

