<!-- <header>
    <a href=""><img id="logo" src="/yo.jpg" alt=""></a>
    <nav>
        <ul class="nav-links">
            <a routerLink="/">INICIO</a>
            <a routerLink="/proyecto">PROYECTOS</a>
            <a routerLink="/contacto">CONTACTOS</a>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>
<app-inicio></app-inicio> -->


<header>
    <a href=""><img id="logo" src="/yo.jpg" alt=""></a>
    <nav class="navbar">
        <ul class="nav-links">
            <a href="#">Inicio</a>
            <a routerLink="/proyecto">Proyecto</a>
            <a href="#">Contactos</a>
        </ul>
    </nav>
</header>