<div class="container overflow-hidden text-center">
    <div class="row gy-5">
        <div class="col-6">
            <div class="p-3 tamanoLetra">DESARROLLADOR WEB FULL STACK</div>
            <p>BIT</p>
            <p>FINALIZADO</p>
        </div>
        <div class="col-6">
            <div class="p-3 tamanoLetra">DESARROLLADOR WEB FULL STACK</div>
            <p>LA CORPORACION UNIVERSITARIA IBEROAMERICANA </p>
            <p>FINALIZADO</p>
        </div>
    
        <div class="col-6">
            <div class="p-3 tamanoLetra">MASTER EN JAVASCRIPT: APRENDER JS, JQUERY, ANGULAR, NODEJS</div>
            <p>UDEMY</p>
            <p>FINALIZADO</p>
        </div>
        <div class="col-6">
            <div class="p-3 tamanoLetra">ANGULAR: DE CERO A EXPERTO</div>
            <p>UDEMY</p>
            <p>EN PROCESO</p>
        </div>
    </div>
</div>